body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}


.grid{
	display: grid;
	grid-template-columns: repeat(18, 6rem);
	grid-template-rows: repeat(10, 1fr);
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;

	&--box{
		background-color: red;
		height: 6rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}



